// import variables
@import "./variables";
// fonts
// import fonts
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");
// reset style
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  display: block;
}
a,
button {
  text-decoration: none;
  cursor: pointer;
}
// global style
html {
  font-family: "Space Mono", monospace;
  font-size: 24px;
}
