// ## Colors
// ### Primary
$cl-Strongcyan: hsl(172, 67%, 45%);
// ### Neutral
$cl-Verydarkcyan: hsl(183, 100%, 15%);
$cl-Darkgrayishcyan: hsl(186, 14%, 43%);
$cl-Grayishcyan: hsl(184, 14%, 56%);
$cl-Lightgrayishcyan: hsl(185, 41%, 84%);
$cl-Verylightgrayishcyan: hsl(189, 41%, 97%);
$cl-White: hsl(0, 0%, 100%);
// other variables
$radius: 10px;
$transition: all 250ms linear;
